# Ignorar archivos generados automáticamente
*.zip
*.pdf
#*.tar.gz

# Ignorar directorios específicos
Firmware/*.*
doc/*.*
hardware/*.*

# Ignorar archivos de configuración local (ejemplos)
#config.ini
